<car-hp></car-hp>
<car-hp2></car-hp2>
<router-outlet></router-outlet>

<h4>Binding</h4>
<div [ngModel]="my_content"></div>
<input [(ngModel)]="my_content" type="text" >

<h4>Event Binding</h4>
<button (click)="alertMe();">Click Me</button>

<h4>Property Binding</h4>
<p class="card-text" [hidden]="true">This text will not show.</p>

<h4>Learning Angular Pipes</h4>

<table>
    <tr>
        <td>Product Code</td>
        <td>Product Name</td>
        <td>Product Price</td>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{product.code}}</td>
        <td>{{product.name | uppercase}}</td>
        <td>{{product.price | currency : 'INR'}}</td>
    </tr>
    
</table>
