<h4>Show All Listings</h4>

<table class="table table-bordered">
  
  <tbody>
    <tr>
    <th>Title</th>
    <th>Description</th>
      <th>Price</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let listing of listArr;let i = index">
      <td>{{listing.title}}</td>
      <td>{{listing.description}}</td>
      <td>{{listing.price}}</td>
      <td>{{listing.status}}</td>
      <td><a [routerLink]="'/update-listing/'+listing.id">Edit</a> | <a [routerLink]="'/delete-listing/'+listing.id">Delete</a></td>
    </tr>
  </tbody>
</table>