/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h2 {
    background: #FFEA00;
    color:#222;
}

.mat-toolbar a {
    color:#fff;
    margin:3px;
    font-size:16px;
}
.mat-card {
    margin:10px;
}