<div class="container dark">
  <div class="column">
  <p>Add a todo item</p>
  </div>
  <div class="column">
  <p>Todo list ({{ itemCount }} items)</p>
  </div>
  </div>
  <div class="container light">
  <div class="column">
  <p class="form-caption">Enter an item to add to your todo list</p>
  <form>
  <input type="text" class="regular" name="item" placeholder="Todo item ..." [(ngModel)]="todoItemText">
  <input type="submit" class="submit" value="Add todo" (click)="addTodoItem()">
  </form>
  </div>
  <div class="column">
  <p class="todolist-container" *ngFor="let todoItem of todoItems">
  {{ todoItem }}
  </p>
  </div>
  </div>