<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<nav>
  
  </nav>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AutoStop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    
 <li class="nav-item">
<a class="nav-link"  routerLink='/login' *ngIf="!_appAuthService.isLoggedInUser()">Login</a>
</li>
 <li class="nav-item">
  <a class="nav-link"  routerLink='/register'>Register</a>
  </li>
   <li class="nav-item">
  <a class="nav-link"  routerLink='/logout' *ngIf="_appAuthService.isLoggedInUser()">Logout</a>
   </li>  
    </ul>

  </div>
</nav>
<router-outlet></router-outlet>
