
<mat-card class="z-depth" >
  
    <mat-card-title>Material Buttons</mat-card-title>
    <mat-card-content>
        <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button routerLink=".">Link</a>
  </div>
    </mat-card-content>

  </mat-card>

  <mat-card class="z-depth" >
  
    <mat-card-title>Material Buttons</mat-card-title>
    <mat-card-content>
        <div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
  </div>
    </mat-card-content>

  </mat-card>

    <mat-card class="z-depth" >
  
    <mat-card-title>Material Badges</mat-card-title>
    <mat-card-content>
        <div class="example-button-row">
 <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>

    <button mat-raised-button color="primary"
      matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Left Badge
  </button>

  <button mat-raised-button color="primary"
      matBadge="8" matBadgePosition="after" matBadgeColor="accent">
    Right Badge
  </button>
  </div>
    </mat-card-content>

  </mat-card>


    <mat-card class="z-depth" >
  
    <mat-card-title>Material Chips</mat-card-title>
    <mat-card-content>
        <mat-chip-list>
  <mat-chip>One fish</mat-chip>
  <mat-chip>Two fish</mat-chip>
  <mat-chip color="primary" selected>Primary fish</mat-chip>
  <mat-chip color="accent" selected>Accent fish</mat-chip>
</mat-chip-list>
    </mat-card-content>

  </mat-card>

      <mat-card class="z-depth" >
  
    <mat-card-title>Material Progress Bar</mat-card-title>
    <mat-card-content>
<mat-spinner></mat-spinner>
    </mat-card-content>

  </mat-card>