/* You can add global styles to this file, and also import other style files */
.super-car {
  color:#fff;
  background-color:#ff0000;
}
.sports-car {
  color:#000;
  background-color:#ffa500;
}
.grandma-car {
  color:#000;
  background-color:#ffff00;
}