<mat-card class="z-depth" >
  
  <mat-card-title><a href="" primary >Packt Books</a></mat-card-title>
  <mat-card-subtitle>Family of wonderful Authors and Readers</mat-card-subtitle>
  <mat-card-content>
      We are learning to create wonderful cards. Each card has some specific data to be displayed to users.
  </mat-card-content>

  <mat-card-actions> <button mat-raised-button>Tweet This</button><button mat-raised-button>Share</button></mat-card-actions>

  </mat-card>


  <mat-card class="z-depth" >
  
  <mat-card-title>Material Lists</mat-card-title>
  <mat-card-content>
      <mat-list>
 <mat-list-item> New York City </mat-list-item>
 <mat-list-item> Dallas </mat-list-item>
 <mat-list-item> London </mat-list-item>
</mat-list>
  </mat-card-content>

  </mat-card>

  <mat-card class="z-depth" >
  
  <mat-card-title>Material Lists with Divider</mat-card-title>
  <mat-card-content>
<mat-list>
 <mat-list-item> Home </mat-list-item>
 <mat-divider></mat-divider>
 <mat-list-item> About </mat-list-item>
 <mat-divider></mat-divider>
 <mat-list-item> Contact </mat-list-item>
 <mat-divider></mat-divider>
</mat-list>
  </mat-card-content>

  </mat-card>


  <mat-card class="z-depth" >
  
  <mat-card-title>Material Navigational Lists</mat-card-title>
  <mat-card-content>
<mat-nav-list>
   <a mat-list-item href="#" *ngFor="let nav of menuLinks"> {{ nav }} </a>
</mat-nav-list>
  </mat-card-content>

  </mat-card>

  <mat-card class="z-depth" >
  
  <mat-card-title>Material Expansion Panels</mat-card-title>
  <mat-card-content>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal Details
      </mat-panel-title>
    </mat-expansion-panel-header>

  </mat-expansion-panel>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Professional Details
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>
  </mat-card-content>

  </mat-card>


  <mat-card class="z-depth" >
  
  <mat-card-title>Material Stepper</mat-card-title>
  <mat-card-content>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step label="Personal Details">
    Step #1
  </mat-step>
  <mat-step label="Professional Details">
    Step #2
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
  </mat-card-content>

  </mat-card>


  <mat-card class="z-depth" >
  
  <mat-card-title>Material Tabs</mat-card-title>
  <mat-card-content>

<mat-tab-group>
  <mat-tab label="Personal"> This is a Personal Tab </mat-tab>
  <mat-tab label="Professional"> This is a Professional tab </mat-tab>
  <mat-tab label="Contact"> This is Contacts Tab </mat-tab>
</mat-tab-group>
  </mat-card-content>

  </mat-card>
