<h4 class="c2">ngFor directive</h4>
<ul class="cars-list">
  <li *ngFor="let car of cars">
    <a [routerLink]="[car.id]">{{ car.name }}</a>
  </li>
</ul>

<h4 class="c1">ngIf directive</h4>
<div *ngIf="cars.length" id="carLength">
  <p>You have {{cars.length}} vehicles</p>
</div>

<h4 class="c3">ngSwitch directive</h4>
<div [ngSwitch]="tab" class="data-tab">
        <p>This is ngSwitch example</p>
        <div *ngSwitchCase="1">ngSwitch Case 1</div>
        <div *ngSwitchCase="2">ngSwitch Case 2</div>
</div>
<hr>

<button (click)="findAuto()" id="btn">Click to findAutoDealers</button> 

<hr>

<ul>
  <li *ngFor="let dealer of dealers">
    <a [routerLink]="[dealer.id]">{{ dealer.name }}</a>
  </li>
</ul>

<h3 class="c2">Dealers List From HTTP Request</h3>
<button (click)="listAllDealers()" id="getDealers">Get Auto Dealers From HTTP</button>

<ul>
  <li *ngFor="let dealer of allDealers | async">
      <a [routerLink]="[dealer.id]">{{ dealer.name }}</a>
  </li>
</ul>
<hr>
<h3 class="c1">Get Dealer By ID - HTTP Request with HTTP Params</h3>
<button (click)="listDealerById()" id="getDealerDetails">Get Auto Dealers From HTTP</button>
<div *ngIf="showDealerInfo">
  <ul>
    <li *ngFor="let dealer of dealerDetail | async">
        <a [routerLink]="[dealer.id]">{{ dealer.name }}</a>
    </li>
  </ul>
</div>

<hr/>

<h4 class="c2">Car List from HTTP</h4>
<button (click)="getCarList()" id="getDealerDetails">Get Auto Dealers From HTTP</button>
<ul class="cars-list">
  <li *ngFor="let car of carList | async">
    <a [routerLink]="[car.id]">{{ car.name }}</a>
  </li>
</ul>