
<div class="container">

<div *ngIf="successMsg" class="alert alert-success">List Updated Successful</div>

<form #editlistingForm="ngForm" (ngSubmit)="editListing(editlistingForm.value)">
  <div class="form-group">
    <input type="hidden" class="form-control" name="id" [(ngModel)]="viewList.id" ngModel #id>
  </div>
  <div class="form-group">
    <input type="hidden" class="form-control" name="userId" [(ngModel)]="viewList.userId" ngModel #userId>
  </div>
  <div class="form-group">
    <label for="title">Enter Listing Title</label>
    <input type="text" class="form-control" name="title" [(ngModel)]="viewList.title" ngModel #title>
  </div>
  <div class="form-group">
    <label for="price">Enter Description</label>
    <input type="text" name="description" [(ngModel)]="viewList.description" ngModel #descriptipon class="form-control">
  </div>
  <div class="form-group">
    <label for="price">Enter Price</label>
    <input type="number" [(ngModel)]="viewList.price" name="price" class="form-control" ngModel #price>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" [(ngModel)]="viewList.status" checked="{{viewList.status}}" name="status" ngModel #status class="form-check-input">
    <label class="form-check-label" for="status">Active?</label>
  </div>
  <button type="submit" class="btn btn-primary">Update Listing</button>
</form>

</div>