<form [formGroup]="loginForm" (ngSubmit)="displayData(loginForm)">
  
  <h2 class="text-center">Custom Validators</h2>       
        <div class="form-group">
            <input type="text" formControlName="firstName" class="form-control" placeholder="Enter ISBN Number" required="required" validISBN>
            <pre *ngIf="loginForm.controls.firstName.errors.required">ISBN value is required</pre>
            <pre *ngIf="loginForm.controls.firstName.errors?.isbn">{{loginForm.controls.firstName.errors.isbn}}</pre>
        </div>
        
        <div class="clearfix">
            <button class="btn btn-primary">Validate ISBN</button>
        </div>       

</form>

