<p>
  used-cars works!
</p>

<div *ngIf="newCar">
  {{newCar | async | json}}
</div>

<div class="container">
    <h1>Add a Car</h1>
    
    <form #carForm="ngForm" (ngSubmit)="onSubmit(carForm)">
      <div class="form-group">  
        <label>Id</label>
        <input type="text" class="form-control" name="carId" ngModel #carId="ngModel" required>
      </div>

      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" ngModel name="carName" name="carName" #carName="ngModel">
      </div>

      <button type="submit" class="btn btn-success" name="carForm">Submit</button>

    </form>
</div>