/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.c1 {
    background: #ffda65;
}
.c2 {
    background: #b8db70;
}
.c3 {
    background:#b7dbed;
}